body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inter-font {
  font-family: "Inter";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: rgb(39, 45, 52);
}

nav {
  background: rgb(33, 34, 43);
  display: flex;
  align-items: center;
  height: 90px;
  padding: 20px;
}
.nav-icon {
  margin: 10px;
}
.nav-title {
  color: rgb(97, 218, 251);
  font-size: x-large;
  margin-right: auto;
}
.nav-subtitle {
  color: aliceblue;
  order: 1;
}
main {
  padding: 50px 27px;
  background-image: url("./images/logo192.png");
  background-size: 400px, 400px;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
.main-title {
  font-size: 50px;
  color: aliceblue;
}
.main-facts {
  margin-top: 45px;
}
.main-facts > li {
  padding-block: 10px;
  color: aliceblue;
  max-width: fit-content;
}
.main-facts > li::marker {
  font-size: 1.4rem;
  color: rgb(97, 218, 251);
}
